In [1]:
import requests
from bs4 import BeautifulSoup
import pprint as p
import pandas as pd
import numpy as np
import re

In [2]:
url = (f"https://www.basketball-reference.com/contracts/players.html")
print(url)
#response = requests.get(url)  
#html_soup = BeautifulSoup(response.content,"lxml")

https://www.basketball-reference.com/contracts/players.html

In [3]:
table = pd.read_html(url)

In [5]:
table

[    Unnamed: 0_level_0              Salary Unnamed: 2_level_0  \
                     Rk              Player                 Tm
 0                    1       Stephen Curry                GSW
 1                    2          Chris Paul                HOU
 2                    3   Russell Westbrook                OKC
 3                    4        LeBron James                LAL
 4                    5       Blake Griffin                DET
 5                    6      Gordon Hayward                BOS
 6                    7          Kyle Lowry                TOR
 7                    8         Paul George                OKC
 8                    9         Mike Conley                MEM
 9                   10        James Harden                HOU
 10                  11        Kevin Durant                GSW
 11                  12        Paul Millsap                DEN
 12                  13          Al Horford                BOS
 13                  14      Damian Lillard                POR
 14                  15       DeMar DeRozan                SAS
 15                  16          Chris Bosh                MIA
 16                  17         Otto Porter                WAS
 17                  18        Jrue Holiday                NOP
 18                  19         CJ McCollum                POR
 19                  20     Carmelo Anthony                ATL
 20                 NaN              Salary                NaN
 21                  Rk              Player                 Tm
 22                  21      Andrew Wiggins                MIN
 23                  22         Joel Embiid                PHI
 24                  23        Bradley Beal                WAS
 25                  24       Anthony Davis                NOP
 26                  25      Andre Drummond                DET
 27                  26    Hassan Whiteside                MIA
 28                  27        Nikola Jokic                DEN
 29                  28        Steven Adams                OKC
 ..                 ...                 ...                ...
 503                460         Bruce Brown                DET
 504                NaN              Salary                NaN
 505                 Rk              Player                 Tm
 506                461   Jarred Vanderbilt                DEN
 507                462        Ray Spalding                DAL
 508                463        Khyri Thomas                DET
 509                464       Chimezie Metu                SAS
 510                465       Alize Johnson                IND
 511                466  Isaiah Hartenstein                HOU
 512                467      Ryan Broekhoff                DAL
 513                468      Brad Wanamaker                BOS
 514                469      Isaiah Briscoe                ORL
 515                470      Isaiah Cousins                UTA
 516                471    Kenrich Williams                NOP
 517                472     Martell Webster                WAS
 518                473        Cole Aldrich                MIN
 519                474      Carlos Delfino                LAC
 520                475        Caron Butler                SAC
 521                476      Dakari Johnson                MEM
 522                477        A.J. Hammons                MIA
 523                478        Festus Ezeli                POR
 524                479         C.J. Watson                ORL
 525                480  Miroslav Raduljica                LAC
 526                NaN              Salary                NaN
 527                 Rk              Player                 Tm
 528                481       Troy Williams                HOU
 529                482   Demetrius Jackson                BOS
 530                483  Shaquille Harrison                PHO
 531                484        Garlon Green                NOP
 532                485       Troy Williams                NOP

     Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                2018-19            2019-20            2020-21
 0          $37,457,154        $40,231,758        $43,006,362
 1          $35,654,150        $38,506,482        $41,358,814
 2          $35,654,150        $38,178,000        $41,006,000
 3          $35,654,150        $37,436,858        $39,219,565
 4          $32,088,932        $34,234,964        $36,595,996
 5          $31,214,295        $32,700,690        $34,187,085
 6          $31,200,000        $33,296,296                NaN
 7          $30,560,700        $33,005,556        $35,450,412
 8          $30,521,116        $32,511,623        $34,504,132
 9          $30,431,854        $37,800,000        $40,824,000
 10         $30,000,000        $31,500,000                NaN
 11         $29,730,769        $30,500,000                NaN
 12         $28,928,710        $30,123,015                NaN
 13         $27,977,689        $29,802,321        $31,626,953
 14         $27,739,975        $27,739,975        $27,739,975
 15         $26,837,720                NaN                NaN
 16         $26,011,913        $27,250,576        $28,489,239
 17         $25,976,111        $26,131,111        $26,131,111
 18         $25,759,766        $27,556,959        $29,354,152
 19         $25,534,253                NaN                NaN
 20                 NaN                NaN                NaN
 21             2018-19            2019-20            2020-21
 22         $25,467,250        $27,270,000        $29,290,000
 23         $25,467,250        $27,270,000        $29,290,000
 24         $25,434,263        $27,093,019        $28,751,775
 25         $25,434,263        $27,093,019        $28,751,775
 26         $25,434,263        $27,093,019        $28,751,775
 27         $25,434,263        $27,093,018                NaN
 28         $24,605,181        $27,504,630        $29,542,010
 29         $24,157,304        $25,842,697        $27,528,090
 ..                 ...                ...                ...
 503           $838,464         $1,416,852         $1,663,861
 504                NaN                NaN                NaN
 505            2018-19            2019-20            2020-21
 506           $838,464         $1,663,861         $1,416,852
 507           $838,464         $1,416,852         $1,663,861
 508           $838,464           $838,464         $1,663,861
 509           $838,464                NaN                NaN
 510           $838,464         $1,416,852                NaN
 511           $838,464         $1,416,852         $1,663,861
 512           $838,464         $1,443,842                NaN
 513           $838,464                NaN                NaN
 514           $838,464         $1,663,861           $838,464
 515           $838,464                NaN                NaN
 516           $838,464         $1,416,852                NaN
 517           $833,333                NaN                NaN
 518           $685,341           $685,340           $685,340
 519           $650,000                NaN                NaN
 520           $517,219                NaN                NaN
 521           $459,414           $459,414           $459,414
 522           $350,088           $350,087           $350,087
 523           $333,333           $333,333                NaN
 524           $333,333           $333,333                NaN
 525           $252,043                NaN                NaN
 526                NaN                NaN                NaN
 527            2018-19            2019-20            2020-21
 528           $122,741           $122,741           $122,741
 529            $92,857            $92,857            $92,857
 530            $50,000                NaN                NaN
 531            $50,000                NaN                NaN
 532            $34,183                NaN                NaN

     Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
                2021-22            2022-23            2023-24
 0          $45,780,966                NaN                NaN
 1          $44,211,146                NaN                NaN
 2          $43,848,000        $46,662,000                NaN
 3          $41,002,273                NaN                NaN
 4          $38,957,028                NaN                NaN
 5                  NaN                NaN                NaN
 6                  NaN                NaN                NaN
 7          $37,895,268                NaN                NaN
 8                  NaN                NaN                NaN
 9          $43,848,000        $46,872,000                NaN
 10                 NaN                NaN                NaN
 11                 NaN                NaN                NaN
 12                 NaN                NaN                NaN
 13                 NaN                NaN                NaN
 14                 NaN                NaN                NaN
 15                 NaN                NaN                NaN
 16                 NaN                NaN                NaN
 17         $27,020,000                NaN                NaN
 18                 NaN                NaN                NaN
 19                 NaN                NaN                NaN
 20                 NaN                NaN                NaN
 21             2021-22            2022-23            2023-24
 22         $31,310,000        $33,330,000                NaN
 23         $31,310,000        $33,330,000                NaN
 24                 NaN                NaN                NaN
 25                 NaN                NaN                NaN
 26                 NaN                NaN                NaN
 27                 NaN                NaN                NaN
 28         $31,579,390                NaN                NaN
 29                 NaN                NaN                NaN
 ..                 ...                ...                ...
 503                NaN                NaN                NaN
 504                NaN                NaN                NaN
 505            2021-22            2022-23            2023-24
 506                NaN                NaN                NaN
 507         $1,802,057                NaN                NaN
 508                NaN                NaN                NaN
 509                NaN                NaN                NaN
 510                NaN                NaN                NaN
 511                NaN                NaN                NaN
 512                NaN                NaN                NaN
 513                NaN                NaN                NaN
 514                NaN                NaN                NaN
 515                NaN                NaN                NaN
 516                NaN                NaN                NaN
 517                NaN                NaN                NaN
 518                NaN                NaN                NaN
 519                NaN                NaN                NaN
 520                NaN                NaN                NaN
 521                NaN                NaN                NaN
 522                NaN                NaN                NaN
 523                NaN                NaN                NaN
 524                NaN                NaN                NaN
 525                NaN                NaN                NaN
 526                NaN                NaN                NaN
 527            2021-22            2022-23            2023-24
 528           $122,741           $122,741                NaN
 529            $92,857            $92,857                NaN
 530                NaN                NaN                NaN
 531                NaN                NaN                NaN
 532                NaN                NaN                NaN

     Unnamed: 9_level_0 Unnamed: 10_level_0
           Signed Using          Guaranteed
 0          Bird Rights        $166,476,240
 1                  NaN        $159,730,592
 2          Bird Rights        $158,686,150
 3                  NaN        $113,310,573
 4          Bird Rights        $102,919,892
 5            Cap space         $63,914,985
 6          Bird Rights         $64,496,296
 7       Maximum Salary         $99,016,668
 8            Cap Space         $85,459,122
 9          Bird Rights        $152,903,854
 10                 NaN         $30,000,000
 11           Cap space         $29,730,769
 12           Cap Space         $28,928,710
 13      1st Round Pick         $89,406,963
 14           Cap Space         $55,479,950
 15                 NaN         $26,837,720
 16         Bird Rights         $53,262,489
 17         Bird Rights         $78,238,333
 18      1st Round Pick         $82,670,877
 19                 NaN         $25,534,253
 20                 NaN                 NaN
 21        Signed Using          Guaranteed
 22      1st Round Pick        $146,667,250
 23      1st Round Pick         $25,467,250
 24           Cap Space         $81,279,057
 25      1st Round Pick         $52,527,282
 26           Cap Space         $52,527,282
 27           Cap Space         $25,434,263
 28                 NaN        $146,847,981
 29      1st Round Pick         $77,528,091
 ..                 ...                 ...
 503                MLE          $2,255,316
 504                NaN                 NaN
 505       Signed Using          Guaranteed
 506                MLE          $2,255,316
 507     Minimum Salary          $2,255,316
 508                MLE          $1,676,928
 509                MLE            $838,464
 510     Minimum Salary            $838,464
 511                MLE            $838,464
 512                NaN            $838,464
 513     Minimum Salary            $838,464
 514                MLE            $500,000
 515                NaN                 NaN
 516                NaN                 NaN
 517                NaN            $833,333
 518                NaN          $2,056,021
 519                NaN            $650,000
 520                NaN            $517,219
 521                NaN          $1,378,242
 522                NaN          $1,050,262
 523                NaN            $666,666
 524                NaN            $666,666
 525                NaN            $252,043
 526                NaN                 NaN
 527       Signed Using          Guaranteed
 528                NaN            $613,705
 529                NaN            $557,142
 530                NaN             $50,000
 531                NaN             $50,000
 532                NaN             $34,183

 [533 rows x 11 columns]]